<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% track.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, required: true, class:"form-control"%>
  </div>
<br>
  <div class="field form-group">
    <%= form.label :artist %>
    <%= form.text_field :artist, required: true, class:"form-control" %>
  </div>
<br>
  <div class="field form-group">
    <%= form.label :album %>
    <%= form.text_field :album, class:"form-control" %>
  </div>
<br>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>
  <br>

    <div class="field form-group">
    <label for="exampleInputEmail1">Notes</label>
    <%= form.text_field :notes, class:"form-control"%>
  </div>
  <br>

  <div class="field">
    <%= form.label "Add to favourites" %>
    <%= form.check_box :favourite %> <br />
</div>

  <br>

  <div class="actions button">
    <%= form.submit class:"btn btn-outline-danger" %>
  </div>
<% end %>