
<div class="jumbotron form-colour">
  <h1 class="display-4">Track Details</h1>
  <li><b>Title:</b> <%= @track.title %> </li>
  <li><b>Artist: </b> <%= @track.artist %> </li>
  <li ><b>Album: </b><%= @track.album %> </li>
  <li><b>Date Created: </b><%= @track.date %></li>
  <% if @track.favourite == true %>  
  <br>   
  <p><b>This song is in your favourites.</b></p>
  <% else %>
<% end %>

  <hr class="my-4">
  <h2>Notes</h2>
  <br>
  <p><%=@track.notes%></p>
</div>
<br>
<br>

<%= link_to 'Edit', edit_track_path(@track), class:"btn btn-dark" %>
<%= link_to 'Back', :back, class:"btn btn-dark" %>