<p id="notice"><%= notice %></p>
<h1 style="color:white;">Favourites</h1>
<table class="table table-hover form-colour">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
    <% if track.favourite == true %>
    <% if track.user_id == current_useer.id%> 
      <tr>
        <td><%= track.title %></td>
        <td><%= track.artist %></td>
        <td><%= track.album %></td>
        <td><%= track.date %></td>
        <td><%= link_to 'Show', track, class: "a-primary badge rounded-pill bg-light text-dark button text-decoration-none" %></td>
        <td><%= link_to 'Edit', edit_track_path(track), class: "a-primary badge rounded-pill bg-light text-dark button text-decoration-none"%></td>
      </tr>
    <% end %>
    <%end%>
    <%end%>
  </tbody>
</table>